@import 'variables';
@import 'mixins';
@import 'navigation';
@import 'sidebar';
@import 'editor';

html,
body {
  background: none;
  cursor: default;
  font-family: $font-regular;
  font-smoothing: subpixel-antialiased;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-rendering: optimizelegibility;
  user-drag: none;
  width: 100%;
}

#main,
main {
  height: 100%;
  width: 100%;
}
